<footer class="site-footer">
    <div class="content-area">
        <h2 class="footer-heading">淇澳斋</h2>

        <div class="footer-info">
            <a href="https://github.com/{{ .Site.Params.github }}" style="display: flex; align-items: center">
                <span class="username">{{ .Site.Params.github }}</span>
            </a>

            <a class="u-email" href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>

            <span>{{ .Site.Params.tagline }}</span>
        </div>
    </div>

</footer>