{%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

        <h2 class="footer-heading">淇澳斋</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    {%- if site.github_username %}
                    <li><a href="https://github.com/{{ site.github_username }}">
                        <svg class="svg-icon">
                            <use xlink:href="/assets/minima-social-icons.svg#github"></use>
                        </svg>
                        <span class="username">{{ site.github_username }}</span></a>
                    </li>
                    {%- endif %}

                    <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                {%- if titles_size > 0 -%}
                <ul class="page-list contact-list">
                    {%- for path in page_paths -%}
                    {%- assign my_page = site.pages | where: "path", path | first -%}
                    {%- if my_page.title -%}
                    <li>
                        <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                    </li>
                    {%- endif -%}
                    {%- endfor -%}
                </ul>
                {%- endif -%}
            </div>

            <div class="footer-col footer-col-3">
                <p>{{ site.description | escape }}</p>
            </div>
        </div>

    </div>

</footer>