---
---

@import "minima";


/**
Default Line Height
 */
body {
  line-height: 1.8;
}

/**
Code Block
 */
.highlighter-rouge .highlight {
  background-color: #f3f6fa;
}

pre, code {
  background-color: #f3f6fa;
}

/**
Remove Top Border From Header
 */
.site-header {
  border-top: none;
}

/**
Figure Default Style
 */
figure {
  margin: 4rem 0;
}

figure>img {
  margin: 0 auto;
}

figcaption {
  color: #717171;
  text-align: center;
}

/**
Adding Margin Top For Headers
 */
.post-content {
  h1, h2 {
    margin-top: 2em;
  }
}

.site-header {
  min-height: 54px;
}

.site-header .wrapper {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.site-header .site-title {
  float: unset;
  flex-shrink: 0;
  margin-right: 1rem;
}

.doodle-link {
  display: block;
  max-width: 630px;
  height: 54px;
  width: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.codepen-container {
  margin: 2rem 0;
}