---
---

@import "minima";


/** Change Line Height **/
body {
  line-height: 1.8;
}
/** Change Line Height **/


/** Code Block Background Color **/
.highlighter-rouge .highlight {
  background-color: #f3f6fa;
}

pre, code {
  background-color: #f3f6fa;
}
/** Code Block Background Color **/
